Repository achyu-dev/oauth2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pesu-dev/oauth2-maintainers, @sach-12, @aditeyabaral

added template repo, and added v0 of readme
  .gitignore
  README.md
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Owners: @pesu-dev/oauth2-maintainers, @sach-12, @aditeyabaral

update to fetch-live
  README.md
Owners: @sach-12, @aditeyabaral

switched to prn instead of srn for unique identifier
  README.md
Owners: @sach-12, @aditeyabaral

client secret hasing, removed jwt, added admin session, updated dependencies
  README.md
Owners: @sach-12, @aditeyabaral

key rotation strategy
  README.md
Owners: @sach-12, @aditeyabaral

header requirement, auth code expiry, error responses, monitoring and logging, updated api versioning
  README.md
Owners: @sach-12, @aditeyabaral

consolidated scopes, separated security into a new doc, added license, removed encryption key rotation for now, updated some api/webpage endpoints info
  .github/SECURITY.md
  LICENSE
  README.md
Owners: @sach-12, @aditeyabaral

added pr template, contribute.md and issue template
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @sach-12, @aditeyabaral

added prod deploy workflow
  .github/workflows/prod-deploy.yml
Owners: @sach-12, @aditeyabaral

refactor: added lint, tsc, prettier, githooks
  .githooks/commit-msg
  .githooks/install.sh
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/pre-commit
  .githooks/pre-push
  .githooks/utils.sh
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/workflows/prod-deploy.yml
  .github/workflows/source.yml
  .gitignore
  .prettierignore
  .prettierrc
  README.md
  eslint.config.mjs
  knip.json
  package.json
  pnpm-lock.yaml
Owners: @pesu-dev/oauth2-maintainers, @sach-12, @aditeyabaral

ci: added ci workflow file
  .github/workflows/ci.yml
Owners: @sach-12, @aditeyabaral

Landing page
  src/app/page.tsx
Owners: @pesu-dev/oauth2-maintainers

minor fix to add aria-label
  src/app/page.tsx
Owners: @pesu-dev/oauth2-maintainers

fixed ci.yml file
  .github/workflows/ci.yml
Owners: @sach-12, @aditeyabaral

updated ci.yml file
  .github/workflows/ci.yml
Owners: @sach-12, @aditeyabaral

Landing page (#1)
  .github/workflows/ci.yml
  src/app/page.tsx
Owners: @sach-12, @aditeyabaral, @pesu-dev/oauth2-maintainers

removed merge group trigger for source workflow
  .github/workflows/source.yml
Owners: @sach-12, @aditeyabaral

added netlify status badge
  README.md
Owners: @sach-12, @aditeyabaral

.github/CODEOWNERS:

# High level team ownership
* @pesu-dev/oauth2-maintainers

# Specific file ownership
.github/ @sach-12 @aditeyabaral
LICENSE @sach-12 @aditeyabaral
README.md @sach-12 @aditeyabaral
